<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Définit l'encodage des caractères de la page en UTF-8, supportant les caractères internationaux -->
    <meta charset="UTF-8">

    <!-- Indique à Internet Explorer d'utiliser la version la plus récente de son moteur de rendu -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Optimise la page pour les appareils mobiles en contrôlant la mise à l'échelle initiale -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le titre de la page affiché dans l'onglet du navigateur  -->
    <title>CRESUS-Gironde {% block metatitle %}{% endblock %}</title>

    <!-- icône de raccourci qui s'affiche dans l'onglet du navigateur -->
    <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon">

    <!-- Fournit une brève description du site, ==> SEO (optimisation pour les moteurs de recherche) -->
    <meta name="description" content="Mission reconnue d'utilité publique. Accompagnement budgétaire des personnes en difficultés financières - Lutte contre le surendettement - Micro-crédit."/>

    <!-- Auteur du site ou du document -->
    <meta name="author" content="Daviatte Claude"/>

    <!-- Lien vers une feuille de style CSS locale pour styliser la page, utilisée ici via Twig -->
    <link rel="stylesheet" href="{{ asset('style/gpStyle.css') }}">

    <!-- Lien vers une la police de caractère raleway -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">

    <!-- Lien vers une bibliothèque externe, FontAwesome, qui fournit des icônes, via un CDN (Content Delivery Network) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


<body>
<header>
    <!-- création de la nav commune au site gd public -->
    <!-- masqué sera affiché en responsive : hamburger -->
    <ul id="hamb">
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <nav>
        <ul class="nav">
            <li class="firstli"><a href="{{ path("Accueil") }}"> <img src="{{ asset('img/cresusgironde.png') }}" alt="logo de l association crésus"></a></li>
            <li><a class="headnav" href="{{ path("nous") }}">Présentation</a></li>
            <li><a href="{{ path("Aider") }}" class="headnav">Vous aider</a></li>
            <li class="dropdown">
                <a class="headnav" href="#">Nos activités <i class="fa-solid fa-chevron-down"></i></a>
                <ul class=" dropdown-menu">
                    <li><a href="{{ path("PCB") }}">Conseils budgétaires</a></li>
                    <li><a href="{{ path("Dilemme") }}">éducation financière</a></li>
                    <li><a href="{{ path("Microcredit") }}">Microcrédit</a></li>
                    <li><a href="{{ path("Surendettement") }}">Surendettement</a></li>
                </ul>
            </li>
            <li><a class="headnav" href="{{ path("noustrouver") }}">Nous contacter</a></li>
            <li><a class="headnav" href="{{ path("Benevole") }}">Nous aider</a></li>
            <li><a class="headnav" href="{{ path("benevoleAccueil") }}">Connexion</a></li>
        </ul>
    </nav>
</header>

<main>
    {#
    vérifie si des messages flashes ont été enregistrés par un controleur. Si oui, on les affiche
    #}
    {% for message in app.flashes('success') %}
        <div class="success-message">
            {{ message }}
        </div>
    {% endfor %}


    {% for message in app.flashes('error') %}
        <div class="error-message">
            {{ message }}
        </div>
    {% endfor %}


    {% block main %}
    {% endblock %}

</main>

<footer>
    <div class="left">
        <a class="t20" href="#top"> <img src="{{ asset('img/CRESUS-logo.png') }}" alt="logo de l association crésus"></a>
        <article>
            <h4><span id="gras">CRESUS </span> Gironde</h4>
            <p>Siège social :</p>
            <p>24, allée Ernest de Boissière</p>
            <p>33 980  AUDENGE</p>
            <p>Mail : <a href="mailto:cresusgironde@laposte.net" style="color: white; text-decoration: none;">cresusgironde@laposte.net</a></p>
        </article>
        <div class="t10">
            <img src="{{ asset('img/pcb.png') }}" alt="Point Conseil Budget">
        </div>
    </div>
    <div class="t20">
        <a href="{{ path("mentionslegales") }}"> Mentions légales</a>
        <p>© tous droits réservés CRÉSUS Gironde 2024</p>
    </div>
    <article class="t20">
        <p>Association loi 1901</p>
        <p>Siret : 752 518 977 00034</p>
        <p>APE : 94.99Z</p>
    </article>
</footer>
<!-- liens js -->

<script src="{{ asset('JS/gpBase.js') }}"></script>
<script src="{{ asset('JS/menuMobile.js') }}"></script>
{% block javascript %}
{% endblock %}

</body>

</html>