<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRESUS Gironde</title>
    <link rel="shortcut icon" src="{{ asset('img/favicon.ico') }}" type="image/x-icon">
    <meta name="description" content="Mission reconnue d'utilité publique. Accompagnement budgétaire des personnes en difficultés financières - Lutte contre le surendettement - Micro-crédit."/>
    <meta name="author" content="Daviatte Claude"/>
    <link rel="stylesheet" href="{{ asset('style/gpStyle.css') }}">
    <!-- bibliothèque fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
<header>
    <!-- création de la nav commune au site gd public -->
    <nav>
        <ul>
            <li><a href="{{ path("Accueil") }}"> <img src="{{ asset('img/CRESUS-logo.png') }}" alt="logo de l association crésus"></a></li>
            <li><a >Qui sommes nous</a></li>
            <li><a href="{{ path("noustrouver") }}">Nous contacter</a></li>
            <li><a >Nos actions</a></li>
            <li><a >Vous aider</a></li>
            <li><a href="{{ path("benevoleAccueil") }}">Connexion</a></li>
        </ul>
    </nav>
</header>

<main>
    {#
    vérifie si des messages flashes ont été enregistrés par un controleur. Si oui, on les affiche
    #}
    {% for message in app.flashes('success') %}
        <div class="success-message">
            {{ message }}
        </div>
    {% endfor %}


    {% for message in app.flashes('error') %}
        <div class="error-message">
            {{ message }}
        </div>
    {% endfor %}

    {% block body %}{% endblock %}


{% block main %}
{% endblock %}

</main>

<footer>
    <div class="left">
        <a class="t20" href="#top"> <img src="{{ asset('img/CRESUS-logo.png') }}" alt="logo de l association crésus"></a>
        <article>
            <h4><span id="gras">CRESUS </span> Gironde</h4>
            <p>Siège social :</p>
            <p>24, allée Ernest de Boissière</p>
            <p>33 980  AUDENGE</p>
            <p>Mail : cresusgironde@laposte.fr</p>
        </article>
        <div class="t10">
            <img src="{{ asset('img/pcb.png') }}" alt="Point Conseil Budget">
        </div>
    </div>
    <div class="t20">
        <a href="#legal"> Mentions légales</a>
        <p>© tous droits réservés CRÉSUS Gironde 2024</p>
    </div>
    <article class="t20">
        <p>Association loi 1901</p>
        <p>Siret : 752 518 977 00034</p>
        <p>APE : 94.99Z</p>
    </article>
</footer>
</body>



