
{% extends 'interne/partial/intBase.html.twig' %}

{% block title %}
    {% if charge.id is defined %}
        Modifier une charge
    {% else %}
        Ajouter une charge
    {% endif %}
{% endblock %}

{% block body %}
    <h1>
        {% if charge.id is defined %}
            <h1>Modifier une charge pour la demande n°{{ demande.id }}</h1>
        {% else %}
            <h1>Ajouter une charge pour la demande n°{{ demande.id }}</h1>
        {% endif %}
    </h1>

    {{ form_start(form) }}
    <div class="form-group col-md-3">
        {{ form_label(form.type_charge) }}
        {{ form_widget(form.type_charge, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group col-md-3">
        {{ form_label(form.montant_mensuel) }}
        {{ form_widget(form.montant_mensuel, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group col-md-3">
        {{ form_label(form.commentaires) }}
        {{ form_widget(form.commentaires, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group col-md-3">
        {{ form_label(form.beneficiaire) }}
        {{ form_widget(form.beneficiaire, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="d-flex justify-content-between mt-3">
        <button class="btn btn-success">
            {% if charge.id is defined %}
                Modifier
            {% else %}
                Ajouter
            {% endif %}
        </button>
        {% if charge.id is defined %}
            <a href="{{ path('delete_charge', {id: charge.id}) }}" class="btn btn-danger">Supprimer</a>
        {% else %}
            <button class="btn btn-info" name="nouvelle_saisie" type="submit">Nouvelle saisie</button>
        {% endif %}

        <a href="{{ path('affichageDemande', {id: demande.id}) }}" class="btn btn-secondary">Annuler</a>
    </div>

    {{ form_end(form) }}
{% endblock %}