{% extends 'interne/partial/intBase.html.twig' %}

{% block metatitle %}
    - admin nouveau beneficiaire
{% endblock %}

{% block main %}
    <div class="container mt-5">
    <h1 class="text-danger">AJOUT D'UN BENEFICIAIRE</h1>

        {# Affichage du formulaire #}
        {{ form_start(beneficiaireForm) }}
            <div class="form-group">
                {{ form_label(beneficiaireForm.civilite_beneficiaire) }}
                {{ form_widget(beneficiaireForm.civilite_beneficiaire, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(beneficiaireForm.civilite_beneficiaire) }}
            </div>
            <div class="form-group">
                {{ form_label(beneficiaireForm.nom_beneficiaire) }}
                {{ form_widget(beneficiaireForm.nom_beneficiaire, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(beneficiaireForm.nom_beneficiaire) }}
            </div>
            <div class="form-group">
                {{ form_label(beneficiaireForm.prenom_beneficiaire) }}
                {{ form_widget(beneficiaireForm.prenom_beneficiaire, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(beneficiaireForm.prenom_beneficiaire) }}
            </div>
        <div class="form-group">
            {{ form_label(beneficiaireForm.ddn_beneficiaire) }}
            {{ form_widget(beneficiaireForm.ddn_beneficiaire, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(beneficiaireForm.ddn_beneficiaire) }}
        </div>
        <div class="form-group">
            {{ form_label(beneficiaireForm.mail_beneficiaire) }}
            {{ form_widget(beneficiaireForm.mail_beneficiaire, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(beneficiaireForm.mail_beneficiaire) }}
        </div>
        <div class="form-group">
            {{ form_label(beneficiaireForm.telephone_beneficiaire) }}
            {{ form_widget(beneficiaireForm.telephone_beneficiaire, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(beneficiaireForm.telephone_beneficiaire) }}
        </div>
        <div class="form-group">
            {{ form_label(beneficiaireForm.profession_beneficiaire) }}
            {{ form_widget(beneficiaireForm.profession_beneficiaire, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(beneficiaireForm.profession_beneficiaire) }}
        </div>
        <div class="form-group">
            {{ form_label(beneficiaireForm.libelle_prof) }}
            {{ form_widget(beneficiaireForm.libelle_prof, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(beneficiaireForm.libelle_prof) }}
        </div>

        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <a href="{{ path('RechercheBeneficiaire') }}" class="btn btn-danger">
                <i class="fa fa-times-circle"></i> Abandonner
            </a>
        </div>

        {{ form_end(beneficiaireForm) }}
    </div>

{% endblock %}