{% extends 'interne/partial/intBase.html.twig' %}

{% block metatitle %}
    bénévoles les formulaires
{% endblock %}

{% block main %}

    <div>
        {% if isTraite %}
            <h1 class="text-success"> Liste des formulaires déjà traités</h1>
            <a href="{{ path('formulaires', {'isTraite': 0}) }}" class="btn btn-primary">Afficher les formulaires non traités</a>
        {% else %}
            <h1 class="text-danger"> Liste des formulaires à traiter</h1>
            <a href="{{ path('formulaires', {'isTraite': 1}) }}" class="btn btn-primary">Afficher les formulaires traités</a>
        {% endif %}
    </div>

    <table id="table">
        <thead>
            <tr>
                <th> Date de création</th>
                <th> permanence</th>
                <th> Nom</th>
                <th> Prénom</th>
                <th> Numéro de tél</th>
                <th> adresse mail</th>
                <th> Besoin</th>
                <th> Commentaires</th>
                <th> traité</th>
                <th> Modifier le statut</th>
            </tr>
         </thead>
        <tbody>

        {% for formulaire in formulaires %}
            <tr>
                <td>{{ formulaire.createdAt|date('Y-m-d') }}</td>
                <td>{{ formulaire.permanenceDemandeur }}</td>
                <td>{{ formulaire.nomDemandeur }}</td>
                <td>{{ formulaire.prenomDemandeur }}</td>
                <td>{{ formulaire.telephoneDemandeur }}</td>
                <td>{{ formulaire.mailDemandeur }}</td>
                <td>{{ formulaire.besoinDemandeur }}</td>
                <td>{{ formulaire.descriptionBesoin }}</td>
                <td>
                    {% if formulaire.isTraite %}
                        <p>Oui</p>
                    {% else %}
                        <p>Non</p>
                    {% endif %}
                </td>
                <td>
                    <div class="text-center">
                        <a href ="{{ path('traiter_formulaire',{id: formulaire.id})}}"><i class="fa-solid fa-file-pen" alt="bouton de changement de statut"></i></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascript %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/2.1.4/js/dataTables.min.js"></script>
    <script>
      let table = new DataTable("#table");
    </script>
{% endblock %}