{% extends 'interne/partial/intBase.html.twig' %}

{% block metatitle %}
    admin les bénévoles
{% endblock %}

{% block main %}

    <h1 class="h1"> Liste des BENEVOLES </h1>
    <section class="admin-ben-table">
        <div class="addben">
            <a href="{{ path('admin_insert_user')}}"><i class="fa-solid fa-user-plus tailleiAddBen" > <span>Ajouter un bénévole</span></i></a>
        </div>
        <table class="tableBen">
            <thead>
                <tr>
                    <th class="w-auto bg-warning"> nom utilisateur <a href ="{{ path( 'listbenevoles')}}?tri=username&ordre=ASC">
                            <i class="fa-solid fa-chevron-up"></i></a>
                        <a href ="{{ path( 'listbenevoles')}}?tri=username&ordre=DESC">
                            <i class="fa-solid fa-chevron-down"></i></a>
                    </th>
                    <th class="w-auto bg-warning"> nom bénévole <a href ="{{ path( 'listbenevoles')}}?tri=nomUser&ordre=ASC">
                            <i class="fa-solid fa-chevron-up"></i></a>
                        <a href ="{{ path( 'listbenevoles')}}?tri=nomUser&ordre=DESC">
                            <i class="fa-solid fa-chevron-down"></i></a>
                    </th>
                    <th class="w-auto bg-warning"> prénom bénévole <a href ="{{ path( 'listbenevoles')}}?tri=prenomUser&ordre=ASC">
                            <i class="fa-solid fa-chevron-up"></i></a>
                        <a href ="{{ path( 'listbenevoles')}}?tri=prenomUser&ordre=DESC">
                            <i class="fa-solid fa-chevron-down"></i></a>
                    </th>
                    <th class="w-auto bg-warning"> Droits  </th>
                    <th class="w-auto bg-warning"> téléphone perso  <a href ="{{ path( 'listbenevoles')}}?tri=telPerso&ordre=ASC">
                            <i class="fa-solid fa-chevron-up"></i></a>
                        <a href ="{{ path( 'listbenevoles')}}?tri=telPerso&ordre=DESC">
                            <i class="fa-solid fa-chevron-down"></i></a>
                    </th>
                    <th class="w-auto bg-warning"> adresse mail Perso  <a href ="{{ path( 'listbenevoles')}}?tri=mailPerso&ordre=ASC">
                            <i class="fa-solid fa-chevron-up"></i></a>
                        <a href ="{{ path( 'listbenevoles')}}?tri=mailPerso&ordre=DESC">
                            <i class="fa-solid fa-chevron-down"></i></a>
                    </th>
                    <th class="w-auto bg-warning"> téléphone Assoc  <a href ="{{ path( 'listbenevoles')}}?tri=telAssoc&ordre=ASC">
                            <i class="fa-solid fa-chevron-up"></i></a>
                        <a href ="{{ path( 'listbenevoles')}}?tri=telAssoc&ordre=DESC">
                            <i class="fa-solid fa-chevron-down"></i></a>
                    </th>
                    <th class="w-auto bg-warning">Actif  <a href ="{{ path( 'listbenevoles')}}?tri=isActif&ordre=ASC">
                            <i class="fa-solid fa-chevron-up"></i></a>
                        <a href ="{{ path( 'listbenevoles')}}?tri=isActif&ordre=DESC">
                            <i class="fa-solid fa-chevron-down"></i></a>
                    </th>
                    <th class="w-auto bg-warning">action</th>
                </tr>
            </thead>
            <tbody>
                {% for benevole in benevoles %}
                    <tr>
                        <td >{{ benevole.username }}</td>
                        <td >{{ benevole.nomUser }}</td>
                        <td >{{ benevole.prenomUser }}</td>
                        <td >
                            {% for role in benevole.roles %}
                            {{ role }}
                            {% endfor %}
                        </td>
                        <td >{{ benevole.telPerso }}</td>
                        <td >{{ benevole.mailPerso }}</td>
                        <td >{{ benevole.telAssoc }}</td>
                        <td >
                            {% if benevole.isActif %}
                                <p>Oui</p>
                            {% else %}
                                <p>Non</p>
                            {% endif %}
                        </td>
                        <td > <a href ="{{ path('updatebenevole',{id: benevole.id})}}"><i class="fa-solid fa-file-pen coloriUpBen"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}

