{# templates/beneficiaire/insertDemande.html.twig #}

{% extends 'interne/partial/intBase.html.twig' %}

{% block metatitle %}
    - insert demande
{% endblock %}


{% block main %}
    <h1>Demande #{{ demande.id }}</h1>

    <p><strong>Date de création :</strong> {{ demande.createdAt|date('d/m/Y') }}</p>
    <p><strong>Adresse :</strong> {{ demande.adresse1Demande }}, {{ demande.adresse2Demande }} {{ demande.cpDemande }} {{ demande.villeDemande }}</p>
    <p><strong>Situation Logement :</strong> {{ demande.situationLogt }}</p>
    <p><strong>Nombre d'enfants :</strong> {{ demande.nbEnfant }}</p>
    <p><strong>Patrimoine :</strong> {{ demande.patrimoine }}</p>
    <p><strong>Cause du besoin :</strong> {{ demande.causeBesoin }}</p>
    <p><strong>Commentaires :</strong> {{ demande.commentaires }}</p>

    <h2>Type de demande</h2>
    <p>{{ demande.typeDemande.libelleDemande }}</p>

    <h2>Position de la demande</h2>
    <p>{{ demande.positionDemande.libellePosition }}</p>

    <h2>Origine</h2>
    <p>{{ demande.origine.libelleOrigine }}</p>

    <h2>Revenus</h2>
    <ul>
        {% for revenu in demande.revenus %}
            <li>{{ revenu.montantMensuel }} € - {{ revenu.typeRevenu }} - {{ revenuBeneficiaire }}</li>
        {% endfor %}
    </ul>

    <h2>Charges</h2>
    <ul>
        {% for charge in demande.charges %}
            <li>{{ charge.montant }} € - {{ charge.libelle }}</li>
        {% endfor %}
    </ul>

    <h2>Dettes</h2>
    <ul>
        {% for dette in demande.dettes %}
            <li>{{ dette.montant }} € - {{ dette.libelle }}</li>
        {% endfor %}
    </ul>

    <h2>Bénéficiaires</h2>
    <ul>
        {% for beneficiaire in demande.beneficiaires %}
            <li>{{ beneficiaire.nom }} {{ beneficiaire.prenom }}</li>
        {% endfor %}
    </ul>

    <h2>Historique des actions</h2>
    <ul>
        {% for historique in demande.historiqueAvcts %}
            <li>{{ historique.dateAction|date('d/m/Y') }} - {{ historique.description }}</li>
        {% endfor %}
    </ul>

    <h2>Rendez-vous</h2>
    <ul>
        {% for rdv in demande.rendezVous %}
            <li>{{ rdv.date|date('d/m/Y H:i') }} - {{ rdv.description }}</li>
        {% endfor %}
    </ul>

    <h2>Utilisateurs associés</h2>
    <ul>
        {% for user in demande.users %}
            <li>{{ user.username }}</li>
        {% endfor %}
    </ul>

{% endblock %}