{% extends 'interne/partial/intBase.html.twig' %}

{% block metatitle %}
    - Rechercher ou Ajouter un Bénéficiaire
{% endblock %}

{% block main %}
    <div class="container mt-5">
        <!-- Formulaire de recherche -->
        <h2 class="text-success">Recherche de Bénéficiaires</h2>
        {{ form_start(searchForm) }}
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_label(searchForm.nom) }}
                    {{ form_widget(searchForm.nom, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(searchForm.nom) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_label(searchForm.prenom) }}
                    {{ form_widget(searchForm.prenom, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(searchForm.prenom) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_label(searchForm.telephone) }}
                    {{ form_widget(searchForm.telephone, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form_widget(searchForm.rechercher, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
        {{ form_end(searchForm) }}
        <hr>
        <!-- Liste des résultats de recherche -->
        {% if isSearchFormSubmitted %}
            {% if beneficiaires is not empty %}
                <h3 class="text-success mt-4">Résultats de la Recherche</h3>
                <table class="table mt-3">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Téléphone</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for beneficiaire in beneficiaires %}
                        <tr>
                            <td>{{ beneficiaire.nomBeneficiaire }}</td>
                            <td>{{ beneficiaire.prenomBeneficiaire }}</td>
                            <td>{{ beneficiaire.telephoneBeneficiaire }}</td>
                            <td>
                                <a href="{{ path('ajouteneficairedemande', {'demandeId': demande.id, 'beneficiaireId': beneficiaire.id}) }}" class="btn btn-success">
                                    Ajouter
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <!-- Formulaire de création de nouveau bénéficiaire -->
            <h3 class="text-danger mt-4">Créer un Nouveau Bénéficiaire</h3>
            {{ form_start(newBeneficiaryForm) }}
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form_label(newBeneficiaryForm.civilite_beneficiaire) }}
                        {{ form_widget(newBeneficiaryForm.civilite_beneficiaire, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form_label(newBeneficiaryForm.nom_beneficiaire) }}
                        {{ form_widget(newBeneficiaryForm.nom_beneficiaire, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form_label(newBeneficiaryForm.prenom_beneficiaire) }}
                        {{ form_widget(newBeneficiaryForm.prenom_beneficiaire, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form_label(newBeneficiaryForm.ddn_beneficiaire) }}
                        {{ form_widget(newBeneficiaryForm.ddn_beneficiaire, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form_label(newBeneficiaryForm.mail_beneficiaire) }}
                        {{ form_widget(newBeneficiaryForm.mail_beneficiaire, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form_label(newBeneficiaryForm.telephone_beneficiaire) }}
                        {{ form_widget(newBeneficiaryForm.telephone_beneficiaire, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form_label(newBeneficiaryForm.profession_beneficiaire) }}
                        {{ form_widget(newBeneficiaryForm.profession_beneficiaire, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form_label(newBeneficiaryForm.libelle_prof) }}
                        {{ form_widget(newBeneficiaryForm.libelle_prof, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between mt-3">
                <button type="submit" class="btn btn-primary">Créer le Bénéficiaire</button>
                <a href="{{ path('affichageDemande', {'id': demande.id}) }}" class="btn btn-danger">Retour à la demande</a>
            </div>
            {{ form_end(newBeneficiaryForm) }}
        {% endif %}
    </div>
{% endblock %}
