{% extends 'gdPublic/partial/gpBase.html.twig' %}

{% block metatitle %}
    Cresus Accueil
{% endblock %}

{% block main %}

    <section class="accueil">
        <div class="immArriere">
            <img src="{{ asset('img/mainsdecalees.jpg') }}" alt="solidarité">
        </div>
        <article>
            <div class="textArriere">
                <h4>Vous avez besoin de conseils pour votre budget parce que vous anticipez que votre situation va se dégrader,</h4>
                <ul>
                    <li>Un évènement imprévu survient dans votre vie : licenciement, divorce, maladie, accident, décès du conjoint …</li>
                    <li>Vous savez que vos revenus vont diminuer : départ à la retraite, baisse des allocations …</li>
                    <li>Vous savez que vos charges vont augmenter : augmentation de loyer, études d’un enfant , naissance d’un enfant …</li>
                </ul>
                <h4> Vous rencontrez des difficultés financières, et votre situation se dégrade,</h4>
                <ul>
                    <li>Vous n'arrivez plus à rembourser vos dettes de charges et/ou vos remboursements de crédit …</li>
                    <li>Vous êtes rentré dans une « spirale » en prenant un crédit pour en rembourser un autre …</li>
                    <li>Votre banque a commencé à rejeter des prélèvements ou les impayés commencent à s’accumuler …</li>
                </ul>
                <h4> Vous n'êtes plus en mesure de régler l'ensemble de vos charges et de vos dettes, et votre situation n'est plus gérable</h4>
                <ul>
                    <li>Vous êtes menacé d’expulsion …</li>
                    <li>Vous n’arrivez plus à faire face à vos charges courantes …</li>
                    <li>Les huissiers vous harcèlent …</li>
                </ul>
                <h4>Les banques refusent votre crédit vous avez besoin d'un microcrédit</h4>

            </div>
            <div class="textArriere2">
                <h1>Crésus Gironde peut vous aider !</h1>

                <p>Des bénévoles vous accueillent, vous écoutent, vous informent et peuvent vous accompagner.
                    Ils recherchent avec vous les solutions les plus adaptées à vos difficultés financières, sociales et juridiques</p>
                <div class="bouton">
                    <a href="{{ path("noustrouver") }}"> Nous contacter</a>
                </div>
            </div>
        </article>
    </section>
    <section class="solutions">
        <h1 >Nos solutions concrètes pour vous aider</h1>
        <div class="lessolutions">
            {% for typedemande in typedemandes %}
            <div class='activite'>
                <div>
                    <img class="tailleimg" src="{{typedemande.imgPetit}}" alt="{{typedemande.libelleExterne}}"/>
                </div>
                <a {{typedemande.chemin}}> {{typedemande.libelleExterne}} </a>
            </div>
            {% endfor %}
        </div>
    </section>


{% endblock %}