{% extends 'gdPublic/partial/gpBase.html.twig' %}

{% block metatitle %}
    Cresus Accueil
{% endblock %}

{% block main %}

    <section class="dilemme">
       <h1> Prévenir le surendettement </h1>
        <article>
            <div class="textArriere">
                <p>Une des priorités de CRÉSUS Gironde est la prévention active du surendettement en formant les personnes à la gestion du budget et de leurs finances et en les aidant à acquérir des compétences, une autonomie et un équilibre financier à long terme.</p>
                <p>Des bénévoles accompagnants de CRESUS  vous accueillent, vous écoutent, vous informent et peuvent vous accompagner.
                    Ils recherchent avec vous les solutions les plus adaptées à vos difficultés financières, sociales et juridiques</p>
                <div id="bouton">
                    <a href="{{ path("noustrouver") }}"> Nous contacter</a>
                </div>
            </div>

        </article>
    </section>
    <section class="solutions">
        <h1 >Nos solutions concrètes pour vous aider</h1>
        <div class="lessolutions">
            {% for typedemande in typedemandes %}
            <div class='activite'>
                <div>
                    <img src="{{typedemande.imgPetit}}" alt="{{typedemande.libelleExterne}}"/>
                </div>
                <a href="{{typedemande.chemin}}"> {{typedemande.libelleExterne}} </a>
            </div>
            {% endfor %}
        </div>
    </section>


{% endblock %}