{% extends 'gdPublic/partial/gpBase.html.twig' %}

{% block metatitle %}
    - PCB
{% endblock %}

{% block main %}

    <section class="nous">

        <h2>Crésus Gironde (Chambre RÉgionale de SUrendettement Social de Gironde)</h2>
        <h2>Association loi 1901 reconnue d’intérêt général créée en 2008</h2>

        <h5>Ses vocations :</h5>
        <li>
            <ul> > favoriser une pratique prudente et éclairée de l’argent, </ul>
            <ul> > promouvoir la prévention et le traitement des phénomènes de surendettement, d’exclusion financière et bancaire.</ul>
        </li>
        <h5>Les services qu’elle apporte aux particuliers sont gratuits et confidentiels.</h5>
        <p>Elle est membre de la Fédération Française des Associations Crésus qui a été fondée en Alsace en 1992 pour apporter un soutien budgétaire, juridique et psychologique aux ménages surendettés. La Fédération Française des Associations Crésus est reconnue d’utilité publique depuis 1999. </p>
        <p>Aujourd’hui, une vingtaine d’associations régionales sont regroupées au sein de cette Fédération. Unies par une charte éthique, elles forment un réseau de proximité entièrement dédié à l’accueil des ménages surendettés et à la prévention de l’exclusion financière et économique.</p>

        <h2>OBJET SOCIAL</h2>

        <p>Lorem ipsum dolor sit amet, consectetur <span>adipisicing</span> elit. Asperiores doloremque odio quis ratione sunt? Animi autem dolore explicabo fugit harum laudantium modi recusandae ullam unde vero. Accusamus amet doloribus veniam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores doloremque odio quis ratione sunt? Animi autem dolore explicabo fugit harum laudantium modi recusandae ullam unde vero. Accusamus amet doloribus veniam.</p>

        <h2>LES MISSIONS DE L'ASSOCIATION</h2>

        <p>Crésus Gironde conduit quatre types d’activités distinctes, qui dans le domaine de la lutte contre le surendettement sont complémentaires. Cette particularité, couplée à une complémentarité de ses actions, confère à Crésus un rôle unique parmi les acteurs de l’action sociale.</p>


        <div class="content-row">
            <div class="text">
                <h3>L’initiation financière</h3>
                <p>Un jeu, Dilemme,  permet un apprentissage budgétaire et financier de manière <span>ludique</span>. Il  offre la possibilité d’aborder différentes thématiques (banque, épargne, assurances, etc.) avec tous types de public et de construire des sessions sur mesure.</p>
                <p>Au-delà de son impact pédagogique, l’utilisation d’une méthode ludique, via un processus de distanciation et d’identification (jeu de rôle), crée un formidable espace d’échanges et de débats, où l’absence de tabou et de jugement rend enfin possible une véritable libération de la parole par rapport à l’argent !</p>
                <p>Via une pédagogie ludique et innovante, Dilemme propose une méthode d’apprentissage basée sur des allers-retours constants entre expérimentation et théorie. Cet outil permet à chacun, quel que soit son mode d’apprentissage, son niveau et son expérience de vie, d’acquérir de nouvelles connaissances pratiques, d’enclencher une prise de conscience ou d’éveiller des questionnements personnels, collectifs ou philosophiques concernant la consommation, les méthodes de marketing, les choix de société, la solidarité…</p>
            </div>
            <div class="image">
                <img src="{{ asset('img/fondcresus.jpg') }}" alt="ensemble"/>
              </div>
        </div>

        <div class="content-row">
            <div class="image">
                <img src="{{ asset('img/mainsdecalees.jpg') }}" alt="mains associées"/>
            </div>
            <div class="text">
                <h3>L’éducation financière, prévention du surendettement</h3>
                <p>Crésus Gironde propose également des programmes d’éducation budgétaire et bancaire à des personnes financièrement précaires, ou qui risquent de se trouver en situation de surendettement.</p>
                <p>Cela se traduit par un accompagnement budgétaire individuel de personnes qui ont besoin d’être soutenues dans leur travail de compréhension et de résolution de leurs difficultés budgétaires et bancaires. Il s’agit d’un travail approfondi qui est conduit en concertation avec les travailleurs sociaux, et peut durer plusieurs mois.</p>
                <p>Nous leur permettons de découvrir ainsi des méthodes de gestion de leur argent relativement simples et immédiatement applicables. </p>
                <p>Notre objectif est de les aider à mieux comprendre leurs difficultés au regard de l’argent, de renforcer leurs capacités à gérer leur budget et leur relation avec la banque, avec vigilance et discernement.</p>
            </div>
        </div>

        <div class="content-row">
            <div class="text">
                <h3>Le traitement du surendettement</h3>
                <p>L’association accompagne des personnes qui sont confrontées à de graves difficultés financières, ou qui se trouvant en situation de surendettement, sont dans l’impossibilité de faire face à leurs dettes exigibles et à échoir. Elles sont le plus souvent dirigées vers notre association par l’intermédiaire des travailleurs sociaux ou diverses associations.</p>
                <p>L’objectif de cet accompagnement individualisé est de les aider à mieux comprendre leur situation financière, à connaître leurs droits et obligations, et à prendre les meilleures décisions qui s’imposent.</p>
                <p>Dans la plupart des cas, notre association aide ces personnes à préparer un dossier de surendettement qu’elles déposeront ensuite auprès de la Banque de France. Elles peuvent ainsi obtenir le bénéfice d’un plan qui aménage les modalités de remboursement de leurs dettes, ou d’une procédure de rétablissement personnel qui conduit à l’annulation partielle ou totale de leurs dettes.</p>
                <p>Il s’agit très souvent de leur donner ainsi l’espoir que leur vie n’est pas nécessairement une longue suite de survies quotidiennes.</p>
            </div>
            <div class="image">
                <img src="{{ asset('img/mains-ensemble-grand.jpg') }}" alt="mains ensemble"/>
            </div>
        </div>

        <div class="content-row">
            <div class="image">
                <img src="{{ asset('img/mains-ensemble.jpg') }}" alt="mains ensembles"/>
            </div>
            <div class="text">
                <h3>Le microcrédit personnel</h3>
                <p>Crésus Gironde accompagne également les personnes qui n’ont pas accès aux formes classiques de crédit bancaire et qui pourraient bénéficier d’un microcrédit afin de <span>financer un projet personnel</span>, le plus souvent à finalité d’insertion professionnelle.</p>
                <p>Cet accompagnement permet d’évaluer les demandes au regard de leur viabilité, de la capacité des candidats emprunteurs à rembourser leurs crédits, et de leur recevabilité auprès des organismes prêteurs. Lorsqu’un microcrédit personnel est accordé, l’association peut également proposer un accompagnement budgétaire, à la demande de l’organisme prêteur, ou de l’emprunteur lui-même.</p>
            </div>
        </div>
        <div class="bouton">
            <a href="{{ path("noustrouver") }}"> Nous contacter</a>
        </div>

    </section>
{% endblock %}