{% extends 'gdPublic/partial/gpBase.html.twig' %}

{% block metatitle %}
    Cresus Accueil
{% endblock %}

{% block main %}

<h1 class="h1contact"> Demande de contact ou de rendez-vous </h1>
<section class="contact">
    <div class="container divcontact">
        <h2>Sélectionnez un site</h2>

        <form method="get" action="{{ path('noustrouver') }}">
            <label for="site">Choisissez un site :</label>
            <select name="site" id="site">
                <option value="">--Sélectionnez un site--</option>
                {% for site in sites %}
                    <option value="{{ site.id }}" {% if selectedSite is not null and site.id == selectedSite.id %}selected{% endif %}>
                        {{ site.nomSite }}
                    </option>
                {% endfor %}
            </select>
            <button type="submit">Voir les détails</button>
        </form>

        {% if selectedSite is not null %}
             <h2>Détails du site sélectionné</h2>
             <p><strong>Immeuble :</strong> {{ selectedSite.intituleSite }}</p>
             <p><strong>Adresse :</strong> {{ selectedSite.adresse1Site }}</p>
             <p><strong>Adresse :</strong> {{ selectedSite.adresse2Site }}</p>
             <p><strong>Code Postal :</strong> {{ selectedSite.cpSite }}</p>
             <p><strong>Ville :</strong> {{ selectedSite.villeSite }}</p>
             <p><strong>Téléphone :</strong> {{ selectedSite.telSite }}</p>
             <p><strong>Actif :</strong> {{ selectedSite.isActif ? 'Oui' : 'Non' }}</p>

            <h3>Permanences</h3>
            <ul>
                {% for permanence in selectedSite.permanences %}
                    <li>
                        <strong>Jour :</strong> {{ permanence.jour }}<br>
                        {#<strong>Horaires :</strong> {{ permanence.horaireDebut }} - {{ permanence.horaireFin }}#}
                    </li>
                {% else %}
                    <li>Aucune permanence disponible pour ce site.</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucun site sélectionné.</p>
        {% endif %}
    </div>
    <div class="map-container divcontact">
        {% if selectedSite  is not null %}
            {{ selectedSite.carteSite|raw}}
        {% else %}
            <p>Aucun site sélectionné.</p>
        {% endif %}
    </div>
</section>

{% endblock %}