{% extends 'gdPublic/partial/gpBase.html.twig' %}

{% block metatitle %}
    Cresus Accueil
{% endblock %}

{% block main %}

<h1 class="h1contact"> Demande de contact ou de rendez-vous </h1>
<section class="contact">
    <div class="container divcontact">
        <h2>Sélectionnez un site</h2>

        <form method="get" action="{{ path('noustrouver') }}">
            <label for="site">Choisissez un site :</label>
            <select name="site" id="site">
                <option value="">--Sélectionnez un site--</option>
                {% for site in sites %}
                <option value="{{ site.id }}" {% if selectedSite and site.id == selectedSite.id %}selected{% endif %}>
                    {{ site.nomSite }}
                </option>
                {% endfor %}
            </select>
            <button type="submit">Continuer avec ce site</button>
        </form>

        <!-- Détails du site sélectionné -->
        {% if selectedSite is not null %}
             <p><strong>Immeuble :</strong> {{ selectedSite.intituleSite }}</p>
             <p><strong>Adresse :</strong> {{ selectedSite.adresse1Site }}</p>
             <p><strong>Code Postal :</strong> {{ selectedSite.cpSite }}</p>
             <p><strong>Ville :</strong> {{ selectedSite.villeSite }}</p>
             <p><strong>Téléphone :</strong> {{ selectedSite.telSite }}</p>

            <h3>Jours de permanences</h3>
            <ul>
                {% for permanence in selectedSite.permanences %}
                    <li>
                        {{ permanence.jour }}<br>
                    </li>
                {% else %}
                    <li>Aucune permanence disponible pour ce site.</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="map-container divcontact">
        {% if selectedSite  is not null %}
            {{ selectedSite.carteSite|raw}}
        {% else %}
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d256598.9561077922!2d-0.6102622952859151!3d44.718698894017564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1723286994852!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        {% endif %}
    </div>
</section>
<section class="container">
    {% if selectedSite %}
    <!-- Formulaire de saisie (affiché uniquement si un site est sélectionné) -->
    <h2>Formulaire de Saisie</h2>
    {{ form_start(form) }}
    <div class="form-container">
        <div class="form-column">
            <div class="form-group">
                {{ form_label(form.nom_demandeur) }}
                {{ form_widget(form.nom_demandeur) }}
                {{ form_errors(form.nom_demandeur) }}
            </div>
            <div class="form-group">
                {{ form_label(form.prenom_demandeur) }}
                {{ form_widget(form.prenom_demandeur) }}
                {{ form_errors(form.prenom_demandeur) }}
            </div>
            <div class="form-group">
                {{ form_label(form.mail_demandeur) }}
                {{ form_widget(form.mail_demandeur) }}
                {{ form_errors(form.mail_demandeur) }}
            </div>
        </div>
        <div class="form-column">
            <div class="form-group">
                {{ form_label(form.telephone_demandeur) }}
                {{ form_widget(form.telephone_demandeur) }}
                {{ form_errors(form.telephone_demandeur) }}
            </div>
            <div class="form-group">
                {{ form_label(form.besoin_demandeur) }}
                {{ form_widget(form.besoin_demandeur) }}
                {{ form_errors(form.besoin_demandeur) }}
            </div>
            <div class="form-group">
                {{ form_label(form.description_besoin) }}
                {{ form_widget(form.description_besoin) }}
                {{ form_errors(form.description_besoin) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_row(form.isGdpr) }}
        {{ form_errors(form.isGdpr) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-primary'} }) }}
    </div>
    <p>Nous collectons les données en conformité avec le Règlement (UE) 2016/679, la directive (UE) 2016/80 du 27 avril 2016 et les dispositions de la loi n°2004-801 du 6 août 2004 relative à la protection des personnes et modifiant la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés. Vos données ne seront traitées que dans le cadre du traitement de votre demande uniquement par l'association CRESUS Gironde.</p>
    </div>
    <div class="form-group">
    {{ form_end(form) }}
    {% endif %}
</section>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.getElementById('demandeur-form');
            const gdprCheckbox = document.getElementById('form_gdprAccepted');

            form.addEventListener('submit', function(event) {
                if (!gdprCheckbox.checked) {
                    event.preventDefault(); // Empêche la soumission du formulaire
                    alert('Vous devez accepter les conditions GDPR pour envoyer la demande.');
                }
            });
        });
    </script>



{% endblock %}